*{
    margin:0 ;
    padding: 0;
}
/* style of body*/
body{
margin: 0;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
overflow-x: hidden;
}
/*-----------------*/
/*style of fo first section*/


.seccion1{  
    width:100vw;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-top: 0px;
    padding-top: 0rem;
    opacity: 0;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5)),
    url(../../../assets/images/fondo-fotor-20260216161028.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: rise 2s ease forwards;
}


.seccion1 h1,.seccion1 h3{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 70px;
    transform: translateY(50px);
}
.seccion1 a{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px white;
    color: rgb(255, 255, 255);
    display: inline-block;
    text-decoration: none;
    font-size: 1.8rem;
    transition: transform 0.3s ease, color 0.3s ease;
}

.seccion1 h3 a:hover {
    border-color:#FDB105 ;
    transform: scale(1.2);
    color: #FDB105;
}

@keyframes rise {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/*---------------------------------*/
/*style of featured*/

.destacados{
width: 100%;
margin-left:auto;
margin-right:auto ;
margin-top: 2rem;

}

.destacados h2{
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    background-color: rgb(248, 248, 248);
    margin: 0 auto;
    padding: 50px;
    
}
.destacados article{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.productos{
    padding: 20px;
    height: 400px ;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    font-size: 20px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    transition: all 0.4s ease;
}
.productos img{
    height: 400px;
    width: 300px;
    margin: 10px;
    border-radius: 12px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}
.productos h3{
    margin: 10px;
    margin-top: 10px;
    margin-bottom: 60px;
    font-size: 20px;
    width: 200px;
    color: black;
    font-size: 30px;
}
.productos p{
    margin-top: 10px;
}
.productos:hover{
    transform: scale(0.9);
}